Repository GribinetDaniel/ebs-intership: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Setup lint-staged to project
  .eslintrc.js
  .lintstagedrc.json
  .prettierrc.js
  package.json
  yarn.lock
Due: none

Setup lint-staged to project
  .eslintrc.js
  .lintstagedrc.json
  packages/user-interface/src/pages/homepage.tsx
Due: eslint

Setup lint-staged to project
  packages/user-interface/src/pages/homepage.tsx
Due: eslint

Remake autocomplete function and use it everywhere is posible
  .prettierrc.js
  packages/server/src/requests/auth.ts
  packages/user-interface/src/components/AddUserModal/AddUserModal.tsx
  packages/user-interface/src/components/Autocomplete/Autocomplete.tsx
  packages/user-interface/src/components/EditUserModal/EditUserModal.tsx
  packages/user-interface/src/components/Input/Input.tsx
  packages/user-interface/src/components/PersonalInfo.tsx
  packages/user-interface/src/pages/Account/Account.tsx
  packages/user-interface/src/pages/Login/Login.tsx
  packages/user-interface/src/pages/NewPost/NewPost.tsx
  packages/user-interface/src/pages/Register/Register.tsx
  packages/user-interface/src/types/user.tsx
Due: eslint

add grouping for cities in autocomplete
  packages/user-interface/src/components/Autocomplete/Autocomplete.tsx
  packages/user-interface/src/components/Autocomplete/index.scss
  packages/user-interface/src/context/user-context.tsx
  packages/user-interface/src/hooks/useFetchCities.ts
  packages/user-interface/src/pages/Account/Account.tsx
Due: eslint, prettier --write

Check if users have posts or not
  packages/user-interface/src/components/PlusButton/index.scss
  packages/user-interface/src/components/UserCard/UserCard.tsx
  packages/user-interface/src/components/UserCard/index.scss
  packages/user-interface/src/index.css
  packages/user-interface/src/pages/UserPosts/UserPosts.tsx
  packages/user-interface/src/pages/UserPosts/image-removebg-preview.png
  packages/user-interface/src/pages/UserPosts/index.scss
  packages/user-interface/src/pages/UserPosts/index.tsx
  packages/user-interface/src/pages/userPosts.tsx
Due: eslint, prettier --write

redesign post-card
  packages/user-interface/package.json
  packages/user-interface/src/components/Header/Header.tsx
  packages/user-interface/src/components/PostCard/PostCard.tsx
  packages/user-interface/src/components/PostCard/index.scss
  packages/user-interface/src/components/UserCard/UserCard.tsx
Due: eslint, prettier --write

set loading to action buttons and use mutation for request to server
  packages/user-interface/package.json
  packages/user-interface/src/components/AddUserModal/AddUserModal.tsx
  packages/user-interface/src/components/Button/Button.tsx
  packages/user-interface/src/components/Button/index.scss
  packages/user-interface/src/components/DeletePostModal/DeletePostModal.tsx
  packages/user-interface/src/components/DeleteUserModal/DeleteUserModal.tsx
  packages/user-interface/src/components/EditUserModal/EditUserModal.tsx
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/pages/EditPost/EditPost.tsx
  packages/user-interface/src/pages/Login/Login.tsx
  packages/user-interface/src/pages/NewPost/NewPost.tsx
  packages/user-interface/src/pages/Register/Register.tsx
  packages/user-interface/src/types/user.tsx
Due: eslint, prettier --write

create util fro catch axios error
  packages/server/src/requests/auth.ts
  packages/user-interface/src/components/AddUserModal/AddUserModal.tsx
  packages/user-interface/src/components/EditUserModal/EditUserModal.tsx
  packages/user-interface/src/pages/EditPost/EditPost.tsx
  packages/user-interface/src/pages/Login/Login.tsx
  packages/user-interface/src/pages/NewPost/NewPost.tsx
  packages/user-interface/src/pages/Register/Register.tsx
  packages/user-interface/src/pages/users.tsx
  packages/user-interface/src/utils/catch-errors.ts
  packages/user-interface/src/utils/index.ts
Due: eslint

add relevant names for event handler props
  packages/user-interface/src/components/AddUserModal/AddUserModal.tsx
  packages/user-interface/src/components/DeletePostModal/DeletePostModal.tsx
  packages/user-interface/src/components/DeleteUserModal/DeleteUserModal.tsx
  packages/user-interface/src/components/EditUserModal/EditUserModal.tsx
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/UserCard/UserCard.tsx
  packages/user-interface/src/pages/users.tsx
Due: eslint

close modal when click outside
  packages/user-interface/src/components/AddUserModal/AddUserModal.tsx
  packages/user-interface/src/components/DeletePostModal/DeletePostModal.tsx
  packages/user-interface/src/components/DeleteUserModal/DeleteUserModal.tsx
  packages/user-interface/src/components/EditUserModal/EditUserModal.tsx
  packages/user-interface/src/components/Modal/Modal.tsx
  packages/user-interface/src/components/Modal/index.scss
Due: eslint, prettier --write

use union type instead of string
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/pages/NewPost/NewPost.tsx
Due: eslint

Delete unused div in account page
  packages/user-interface/src/components/Autocomplete/index.scss
  packages/user-interface/src/components/Input/Input.tsx
  packages/user-interface/src/components/Input/index.scss
  packages/user-interface/src/pages/Account/Account.tsx
  packages/user-interface/src/pages/Account/index.scss
Due: eslint, prettier --write

use react hook form to create/edit posts
  packages/user-interface/package.json
  packages/user-interface/src/components/AddUserModal/AddUserModal.tsx
  packages/user-interface/src/components/Button/Button.tsx
  packages/user-interface/src/components/DeletePostModal/DeletePostModal.tsx
  packages/user-interface/src/components/DeleteUserModal/DeleteUserModal.tsx
  packages/user-interface/src/components/EditUserModal/EditUserModal.tsx
  packages/user-interface/src/components/Input/InputForm.tsx
  packages/user-interface/src/components/Input/index.ts
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/TextArea/TextArea.tsx
  packages/user-interface/src/components/TextArea/TextAreaForm.tsx
  packages/user-interface/src/components/TextArea/index.tsx
  packages/user-interface/src/pages/EditPost/EditPost.tsx
  packages/user-interface/src/pages/Login/Login.tsx
  packages/user-interface/src/pages/NewPost/NewPost.tsx
  packages/user-interface/src/pages/Register/Register.tsx
  yarn.lock
Due: eslint

fix some issues after merging
  .husky/pre-commit
  packages/user-interface/src/components/AddUserModal/AddUserModal.tsx
  packages/user-interface/src/components/Button/Button.tsx
  packages/user-interface/src/components/EditUserModal/EditUserModal.tsx
  packages/user-interface/src/components/Input/Input.tsx
  packages/user-interface/src/components/PlusButton/index.scss
  packages/user-interface/src/components/PostCard/PostCard.tsx
  packages/user-interface/src/components/PostCard/index.scss
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/UserCard/UserCard.tsx
  packages/user-interface/src/components/UserCard/index.scss
  packages/user-interface/src/pages/Login/Login.tsx
  packages/user-interface/src/pages/Register/Register.tsx
  packages/user-interface/src/types/user.tsx
Due: eslint, prettier --write

implement posibility to add tags to post
  packages/user-interface/src/components/Button/Button.tsx
  packages/user-interface/src/components/DeletePostModal/DeletePostModal.tsx
  packages/user-interface/src/components/Input/InputForm.tsx
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/PostContent/index.scss
  packages/user-interface/src/components/TextArea/TextAreaForm.tsx
  packages/user-interface/src/components/TextArea/index.scss
  packages/user-interface/src/pages/EditPost/EditPost.tsx
  packages/user-interface/src/types/post.tsx
Due: eslint, prettier --write

change tag input size in dependecy of text length
  packages/user-interface/package.json
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/PostContent/index.scss
  packages/user-interface/src/components/Tag/Tag.tsx
  packages/user-interface/src/components/Tag/index.scss
  packages/user-interface/src/components/Tag/index.ts
  yarn.lock
Due: eslint, prettier --write

implement in project posibility to find post with search bar
  packages/user-interface/package.json
  packages/user-interface/src/components/Input/SearchField.tsx
  packages/user-interface/src/components/Input/index.scss
  packages/user-interface/src/components/Input/index.ts
  packages/user-interface/src/index.css
  packages/user-interface/src/pages/UserPosts/UserPosts.tsx
  packages/user-interface/src/pages/homepage.tsx
  yarn.lock
Due: eslint, prettier --write

create component for no find posts, use useMemo for filtered posts
  packages/user-interface/src/components/ErrorPage/NoFindPosts.tsx
  packages/user-interface/src/components/ErrorPage/NoPostsPage.tsx
  packages/user-interface/src/components/ErrorPage/images/no-find-posts.png
  packages/user-interface/src/components/ErrorPage/images/no-posts-image.png
  packages/user-interface/src/components/ErrorPage/index.scss
  packages/user-interface/src/components/ErrorPage/index.ts
  packages/user-interface/src/components/Input/SearchField.tsx
  packages/user-interface/src/components/Input/index.scss
  packages/user-interface/src/image.d.ts
  packages/user-interface/src/pages/UserPosts/UserPosts.tsx
  packages/user-interface/src/pages/UserPosts/index.scss
  packages/user-interface/src/pages/homepage.tsx
  packages/user-interface/src/utils/filter-posts.ts
  packages/user-interface/src/utils/index.ts
Due: eslint, prettier --write

create component for editing tag
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/Tag/EditTag.tsx
  packages/user-interface/src/components/Tag/index.scss
  packages/user-interface/src/components/Tag/index.ts
Due: eslint, prettier --write

add tags to the post card
  packages/user-interface/src/components/PostCard/PostCard.tsx
  packages/user-interface/src/components/PostCard/index.scss
Due: eslint, prettier --write

add a limit on tags for posts
  packages/user-interface/src/components/PostCard/index.scss
  packages/user-interface/src/components/PostContent/PostContent.tsx
Due: eslint, prettier --write

add posibility to reorder the tag list
  packages/user-interface/src/components/Autocomplete/Autocomplete.tsx
  packages/user-interface/src/components/Input/Input.tsx
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/PostContent/index.scss
  packages/user-interface/src/components/Tag/EditTag.tsx
  packages/user-interface/src/components/Tag/index.scss
  packages/user-interface/src/index.tsx
  packages/user-interface/src/pages/Account/Account.tsx
Due: eslint, prettier --write

add posibility to reorder the list if this is in multiple horizontal lines
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/Tag/EditTag.tsx
  packages/user-interface/src/components/Tag/index.scss
  packages/user-interface/src/types/post.tsx
Due: eslint, prettier --write

make app responsive (plus minus)
  packages/user-interface/public/index.html
  packages/user-interface/src/components/Button/Button.tsx
  packages/user-interface/src/components/ErrorPage/index.scss
  packages/user-interface/src/components/Header/Header.tsx
  packages/user-interface/src/components/Header/index.scss
  packages/user-interface/src/components/Input/index.scss
  packages/user-interface/src/components/Modal/index.scss
  packages/user-interface/src/components/PlusButton/index.scss
  packages/user-interface/src/components/PostCard/index.scss
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/PostContent/index.scss
  packages/user-interface/src/components/UserCard/UserCard.tsx
  packages/user-interface/src/components/UserCard/index.scss
  packages/user-interface/src/index.css
  packages/user-interface/src/pages/Account/Account.tsx
  packages/user-interface/src/pages/Account/index.scss
  packages/user-interface/src/pages/Login/index.scss
  packages/user-interface/src/pages/Register/index.scss
  packages/user-interface/src/pages/UserPosts/UserPosts.tsx
  packages/user-interface/src/pages/homepage.tsx
  packages/user-interface/src/pages/users.tsx
Due: eslint, prettier --write

rename files
  packages/server/src/scripts/add-posts.ts
  packages/server/src/scripts/add-pswd.ts
  packages/server/src/scripts/add-users.ts
  packages/server/src/scripts/generate-random-string.ts
  packages/server/src/utils/scripts/add-posts.ts
  packages/server/src/utils/scripts/add-pswd.ts
  packages/server/src/utils/scripts/add-users.ts
  packages/user-interface/src/components/Header/index.scss
  packages/user-interface/src/components/PostCard/index.scss
  packages/user-interface/src/components/PostContent/index.scss
  packages/user-interface/src/pages/Homepage.tsx
  packages/user-interface/src/pages/Users.tsx
Due: eslint, prettier --write

add .env.example in server folder
  packages/server/.env.example
  packages/server/src/requests/permission.ts
  packages/server/src/scripts/add-users.ts
  packages/server/src/types/user.ts
  packages/user-interface/.env
  packages/user-interface/.env.example
  packages/user-interface/src/utils/main-axios.ts
Due: eslint

fix some issues
  packages/user-interface/src/components/DeletePostModal/DeletePostModal.tsx
  packages/user-interface/src/components/DeleteUserModal/DeleteUserModal.tsx
  packages/user-interface/src/components/Header/index.scss
  packages/user-interface/src/components/Input/InputForm.tsx
  packages/user-interface/src/components/PostCard/PostCard.tsx
  packages/user-interface/src/components/PostCard/index.scss
  packages/user-interface/src/components/PostContent/PostContent.tsx
  packages/user-interface/src/components/PostContent/index.scss
  packages/user-interface/src/components/Tag/EditTag.tsx
  packages/user-interface/src/components/Tag/index.scss
  packages/user-interface/src/components/UserImage/index.scss
Due: eslint, prettier --write

remove comments and unuseful parts of code
  packages/server/src/requests/permission.ts
  packages/user-interface/.gitignore
  packages/user-interface/README.md
  packages/user-interface/src/components/Tag/EditTag.tsx
  packages/user-interface/src/components/UserImage/index.scss
  packages/user-interface/src/pages/Account/index.scss
  packages/user-interface/src/pages/EditPost/EditPost.tsx
  packages/user-interface/src/pages/UserPosts/UserPosts.tsx
  packages/user-interface/src/pages/UserPosts/index.scss
  packages/user-interface/src/styles/style.scss
Due: eslint, prettier --write

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

init next app
  package-lock.json
  package.json
  packages/next/.eslintrc.json
  packages/next/.gitignore
  packages/next/README.md
  packages/next/next.config.js
  packages/next/package.json
  packages/next/public/favicon.ico
  packages/next/public/next.svg
  packages/next/public/vercel.svg
  packages/next/src/pages/_app.tsx
  packages/next/src/pages/_document.tsx
  packages/next/src/pages/about.tsx
  packages/next/src/pages/api/hello.ts
  packages/next/src/pages/index.tsx
  packages/next/src/styles/Home.module.css
  packages/next/src/styles/globals.css
  packages/next/tsconfig.json
  yarn.lock
Due: eslint

create layout component
  packages/next/public/images/logo.png
  packages/next/src/components/Container/Container.module.css
  packages/next/src/components/Container/Container.tsx
  packages/next/src/components/Container/index.ts
  packages/next/src/components/Footer/Footer.module.css
  packages/next/src/components/Footer/Footer.tsx
  packages/next/src/components/Footer/index.ts
  packages/next/src/components/Header/Header.module.css
  packages/next/src/components/Header/Header.tsx
  packages/next/src/components/Header/index.ts
  packages/next/src/components/Layout.tsx
  packages/next/src/pages/_app.tsx
  packages/next/src/pages/index.tsx
  packages/next/src/styles/Home.module.css
  packages/next/src/styles/globals.css
  packages/next/src/styles/header.scss
Due: eslint, prettier --write

create home page
  packages/next/package.json
  packages/next/public/images/1.png
  packages/next/public/images/2.png
  packages/next/public/images/welcome.png
  packages/next/src/components/Footer/Footer.tsx
  packages/next/src/pages/index.tsx
  packages/next/src/pages/posts.tsx
  packages/next/src/styles/Home.module.css
Due: eslint

create script to add image to post
  packages/server/package.json
  packages/server/src/requests/permission.ts
  packages/server/src/scripts/add-img.ts
  packages/server/src/types/post.ts
  yarn.lock
Due: eslint

create page for posts
  packages/next/public/images/1.png
  packages/next/public/images/2.png
  packages/next/public/images/404.jpg
  packages/next/public/images/welcome.png
  packages/next/src/components/Header/Header.module.css
  packages/next/src/components/PostCard/PostCard.module.css
  packages/next/src/components/PostCard/PostCard.tsx
  packages/next/src/components/PostCard/index.ts
  packages/next/src/pages/404.tsx
  packages/next/src/pages/_app.tsx
  packages/next/src/pages/index.tsx
  packages/next/src/pages/posts.tsx
  packages/next/src/pages/posts/[id].tsx
  packages/next/src/pages/posts/index.tsx
  packages/next/src/styles/ErrorPage.module.css
  packages/next/src/styles/globals.css
  packages/next/src/types/index.ts
  packages/next/src/types/post.ts
Due: eslint

add pagination for posts
  packages/next/package.json
  packages/next/src/components/PostCard/PostCard.module.css
  packages/next/src/pages/posts/[id].tsx
  packages/next/src/pages/posts/index.tsx
  yarn.lock
Due: eslint

create page for each post
  packages/next/src/components/PostCard/PostCard.tsx
  packages/next/src/components/PostContent/PostContent.module.css
  packages/next/src/components/PostContent/PostContent.tsx
  packages/next/src/components/PostContent/index.ts
  packages/next/src/pages/posts/[id].tsx
  packages/next/src/pages/posts/index.tsx
Due: eslint

create 500 error page
  packages/next/public/images/error-image.jpg
  packages/next/src/pages/500.tsx
  packages/next/src/pages/posts/[id].tsx
  packages/next/src/pages/posts/index.tsx
Due: eslint

Path conditions:
  eslint: ((any of: *.tsx) or (any of: *.ts)) or (any of: *.html)
  prettier --write: any of: *.scss
